#welcome
{
    color: yellow;
    text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-style: wavy;
    text-transform: uppercase;
}

footer
{
    text-align: center;
    padding: 3px;
    background-color: rgb(0, 255, 60);
    color: white;
}

footer:hover
{
    background-color: white;
}