#welcome
{
    color: yellow;
    text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-style: wavy;
    text-transform: uppercase;
}

:target
{
    border: 5px solid green;
}

footer
{
    text-align: center;
    padding: 3px;
    background-color: rgb(0, 255, 60);
    color: white;
}

footer:hover
{
    background-color: white;
}

a
{
    text-decoration: none;
}

a:link
{
    color: green;
}

a:visited
{
    color: blue;
}

a:active
{
    text-shadow: 1px 1px black;
}
