body {
    background-color: hsla(197, 63%, 82%, 1);
}

h1 {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 300%;
}

nav {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.box {
    margin: 20px;
    padding: 30px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
            box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.box:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.3);
            box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#box_1 {
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#box_1:hover {
    background-color: hsla(197, 63%, 50%, 1);
}

footer > p
{
    font-family: 'Lato', sans-serif;
    text-align: center;
}
